.HomePage {
    &__container {
        display: flex;
        max-width: 700px;
        color: black
    }

    &__input {
        border: 2px solid #59e866;
        padding: 15px;
        font-size: 18px;
        width: 500px;
        color: #ffffff;
        border-radius: 10px;
        color: #c0c5c1;
        margin-top: 20px;
        &:focus {
            outline: none;
            border-color: #59e830;
        }
    }
    &__button {
        background-color: #59e866;
        border: none;
        padding: 15px;
        margin-left: 10px;
        color: white;
        font-size: 18px;
        margin-top: 20px;
        border-radius: 10px;
    }

    &__chat-container {
        position: absolute;
         display: flex;
         flex-direction: row;
         bottom: 0;
         margin-bottom: 20px;
         align-items: center;
        left: 50%;
        transform: translateX(-50%);
    }

    &__messages {
        display: flex;
        gap: 10px;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        margin-bottom: 120px;
    }

    &__message, li{
        display: flex;
        background-color: #59e830;
        color: white;
        padding: 20px;
        display: flex;
        border-radius: 10px;
        gap: 20px;
    }
}